.tab-content-section {
      display: none;
  }

  .tab-content-section.active {
      display: block;
  }

  .dropdown-menu li {
      padding: 4px 12px;
  }

  .member-dropdown {
      min-width: 300px;
      max-width: 100%;
      word-wrap: break-word;
      max-height: 250px;
      /* Set a max height for the dropdown */
      overflow-y: auto;
      /* Allow scrolling if content overflows */
      z-index: 1050;
      /* Ensure dropdown appears above other content */
  }

  .dropdown-menu {
      max-width: 100%;
      word-wrap: break-word;
      z-index: 1050;
      /* Ensures it appears on top */
  }


  .member-dropdown li {
      padding: 4px 12px;
  }

  /* Increased margin for Groups section */
  #groups {
      margin-top: 20px;
      margin-bottom: 30px;
  }


  /*Outline classes for buttons to be like wine theme*/
  .btn-outline-custom {
      --bs-btn-border-color: #722F37;
      --bs-btn-color: #722F37;
      --bs-btn-bg: #EFDFBB;
  }

  .btn-outline-custom:hover {
      --bs-btn-hover-border-color: #5a222b;
      --bs-btn-hover-bg: #722F37;
      --bs-btn-hover-color: #EFDFBB;
  }

  .table-custom {
      --primary-color: #722F37;
      --secondary-color: #EFDFBB;
      --row-bg: #F8F1E9;
      --border-color: #722F37;
  }

  /* Whole table */
  .table-custom {
      border: 2px solid var(--border-color);
  }

  /* Table header */
  .table-custom thead tr {
      background-color: var(--primary-color);
      color: var(--secondary-color);
  }

  .table-custom thead th {
      font-weight: bold;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      border: 2px solid var(--border-color);
  }

  /* Table body rows (uniform background) */
  .table-custom tbody tr {
      background-color: var(--row-bg);
      color: var(--primary-color);
  }

  .table-custom tbody td {
      border: 2px solid var(--border-color);
  }

  /* Hover effect */
  .table-custom tbody tr:hover {
      background-color: #ecd6b3;
  }
